<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="user">users</a>
    <br>
    <a href="quetion">quetion</a>
    <br>
    <a>id : <%=user_id%></a>
    <br>
    <%if(user_id){%>
      <a href="logout">logout</a>
      <br>
      <a href="user/page">mypage</a>
      <br>
      <a href="test?num=1">test</a>
    <% }else{%>
      <a href="user/login">login</a>
    <%}%>
  </body>
</html>
