<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="user">user</a>
    <br>
    <a href="quetion">quetion</a>
  </body>
</html>
