<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="insert">Quetion Insert</a>
    <br>
    <a href="list">Quetion_list</a>
    <br>
  </body>
</html>