<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>User insert</h1>
    <form action="" method="POST" enctype="multipart/form-data">
      <div>
        <input type="text" name="code" >
        <label>CODE</label>
      </div>
      <div>
        <input type="file" name="file">
        <label>문제</label>
      </div>
      <div>
        <input type="text" name="num1" >
        <label>NUM1</label>
      </div>
      <div>
        <input type="text" name="num2" >
        <label>NUM2</label>
      </div>
      <div>
        <input type="text" name="num3" >
        <label>NUM3</label>
      </div>
      <div>
        <input type="text" name="num4" >
        <label>NUM4</label>
      </div>
      <div>
        <input type="text" name="answ" >
        <label>CORRECT</label>
      </div>
      <button id="btn" type="submit">입력</button>
    </form>
  </body>
</html>
