<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="quetion_insert">Quetion Insert</a>
    <br>
  </body>
</html>