<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% history.forEach(item => {
    const { id_try } = item;
    %>
    <a href="/detail"><%=id_try%></a>
    <br>
    <%})%>
    <br>
  </body>
</html>