<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>User insert</h1>
    <form action="" method="POST">
      <div>
        <input type="text" name="id" >
        <label>ID</label>
      </div>
      <div>
        <input type="text" name="pw" >
        <label>PW</label>
      </div>
      <button id="btn" type="submit">입력</button>
    </form>
  </body>
</html>
